input {
  color: white;
}
.formContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.formContainer h3 {
  margin-bottom: 20px;
}

.formContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formContainer textArea {
  height: 60px;
  resize: vertical;
}

.formContainer input,
textarea {
  width: 300px;
  padding: 8px;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid#fff;
}

.btn {
  background: #fff;
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #3c3e7c;
  font-size: 15px;
  height: 100%;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4);
}

.errorMessage {
  margin-bottom: 10px;
  color: rgb(255, 103, 103);
}

.successMessage {
  margin-bottom: 10px;
  color: rgb(72, 255, 142);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(100, 89, 156);
}

.errorMessage {
  margin-bottom: 10px;
  color: rgb(255, 103, 103);
}

.successMessage {
  margin-bottom: 10px;
  color: rgb(72, 255, 142);
}
