@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('./images/304_login_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

.title {
    translate: 0px -10px;
    animation: fadeInAnimation ease 1s;
    color: white;
}

p {
    font-size: 20px;
    animation: fadeInAnimation ease 3s;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h2 {
    font-size: 50px;
}

.searchBar {
    translate: 0px 10px;
    width: 500px;
    height: 25px;
    border-radius: 15px;
}

button {
    translate: 0px 10px;
    border: none;
    margin: 10px;
    padding: 6px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    background-color: rgb(0, 145, 235);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 109, 233);
}