@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #333;
} */

.regContainer .leftBody {
  left: 0;

  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.leftBody .title {
  animation: fadeInAnimation ease 1s;
  color: white;
}
.alignbtn{
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: #3c3e7c;
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
  color: #fff;
}
p {
  font-size: 19.5px;
  animation: fadeInAnimation ease 3s;
}
.regContainer .rightBody {
  right: 0;
  height: 100%;
  width: 50%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  animation: fadeInAnimation ease 1s;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title h2 {
  font-size: 50px;
}

.title ul {
  align-items: center;
}

.displayArtistsBtn {
  font-size: 15px;
  background-color: rgb(102, 77, 192);
}
.title ul li button {
  font-size: 14px;
  margin-left: -35px
}

.fun {
  align-items: center;
  align-self: center;
  align-content: center;
}


.divisionResult {
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 20px;
  border-style: dotted;
  border-color: white;
}

.divisionResult h4 {
  color: rgb(134, 241, 255)
}

.nestedAggResult {
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 20px;
  border-style: dotted;
  border-color: white;
}

.nestedAggResult h4 {
  color: rgb(134, 241, 255)
}

.aggHavingResult {
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 20px;
  border-style: dotted;
  border-color: white;
}

.aggHavingResult h4 {
  color: rgb(134, 241, 255)
}


.aggGroupResult {
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 20px;
  border-style: dotted;
  border-color: white;
}

.aggGroupResult h4 {
  color: rgb(134, 241, 255)
}

